/* font-family: 'Abel', sans-serif;
font-family: 'Amatic SC', cursive; */

:root {
  --main-text: rgb(243, 243, 243);
  --dark-text: rgb(34, 34, 34);
  --main-accent: rgb(185, 153, 11);
  --light-accent: rgb(228, 197, 62);
  --background-dark: rgb(15, 9, 0);
  --background-green: rgb(11, 19, 10);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
